<section id="Contact" class="gradient">
    <div class="container">
      <h2>CONTACT</h2>
      <p>If you wanna get in touch with me, here are some social media to do it.</p>
      <div class="social">
        <a href="https://www.linkedin.com/in/marciopmm/" target="_blank"><img src="assets/linkedin.png" title="LinkedIn" /></a>
        <a href="https://github.com/marciopmm" target="_blank"><img src="assets/github.png" title="GitHub" /></a>
        <a href="https://www.instagram.com/marciopmm/" target="_blank"><img src="assets/instagram.png" title="Instagram" /></a>
        <a href="https://www.facebook.com/marciopmm/" target="_blank"><img src="assets/facebook.png" title="Facebook" /></a>
        <a href="https://www.youtube.com/@MMMarcioMartins" target="_blank"><img src="assets/youtube.png" title="YouTube" /></a>     
      </div>
      <!-- Start v1 -->
      <p>You can email me at <a href="mailto:marciopmm@gmail.com" title="my personal email" target="_blank">marciopmm@gmail.com</a>. 📧</p>
      <p>Also you can <a href="./../assets/CV - Marcio Paulo Mello Martins (English).pdf" title="my resume" target="_blank">download my resume in PDF format</a>. 👉📄</p>
      <p>Thank you for showing some interest in me! 😚🫶🤙</p>
      <!-- End v1 -->
  
      <!-- Start v2 -->
      <!-- <app-email></app-email> -->
      <!-- End v2 -->
    </div>  
  </section>
