<section id="About" class="gradient">
    <div class="container">
      <h2>MORE ABOUT ME</h2>
      <div class="moreAbout">
        <div class="photo">
          <div class="photoBook">
            <swiper-container 
                slides-per-view="1"
                speed="500" 
                loop="true" 
                navigation="true"
                autoplay="true">
              <swiper-slide><img src="assets/F001.jpg" /></swiper-slide>
              <swiper-slide><img src="assets/F006.jpeg" /></swiper-slide>            
              <swiper-slide><img src="assets/F003.jpeg" /></swiper-slide>
              <swiper-slide><img src="assets/F004.jpeg" /></swiper-slide>
              <swiper-slide><img src="assets/F002.jpg" /></swiper-slide>
              <swiper-slide><img src="assets/F005.jpeg" /></swiper-slide>            
            </swiper-container>
          </div>
        </div>
        <div class="text">
          <p>
            I was born and raised in the city of São Paulo, in Brazil. 🇧🇷<br/>
            I started my studies in programming languages at the age of 13 with BASIC and COBOL. Started working at 14 (1990), and since then I love computer related matters.
          </p>
          <p>
            In 2001, I started my Bachelor's Degree in Computer Science. 8 years later my graduation, in 2012, I started a Master's Degree in Software Enginering, finishing it at 2014.
          </p>
          <p>
            In 2020, at age of 44, I had to submit myself to a heart surgery, and in the middle of it I got complications, resulting in a stroke. For consequence, I lost the capability of speak.<br/>
            But now I'm really better. I got to re-learn Portuguese and now it's time to practice English speaking.
          </p>
          <p>In 2022 I started my Online Masters Degree in Data Analysis, finishing at 2023.</p>
          <p>In 2023 I started my Online Masters Degree in Data Science, and I'm close to finish it.</p>
          <p>Also in 2023 I came to live in Lisbon with my wife. We've been already here at vacation, and we simply love this country. 🇵🇹</p>
          <p>
            I'm a hobbist pianist, and a singer too.
            I'm also a Poker Player, and got a Podcast in Portuguese about this fabolous game.
            I love music, and that is my second formation and my third passion.<br/>
            My job with computers are my second one. My family is the first. I have a beautiful wife, grown up son and daughter, and one lovely granddaughter.
          </p>
        </div>
      </div>
    </div>
  </section>
