<section id="Home">
    <div class="background">
      <div class="container">
        <div class="intro">
          <div class="photo">
            <img src="../assets/marcio.jpg" />
          </div>
          <div class="info">
            <p class="hello">Hello! My name is</p>
            <h1 class="bigName">MARCIO MARTINS</h1>
            <h6>
              <span class="badge bg-secondary">Software Engineer</span>
              &nbsp;
              <span class="badge bg-secondary">Full-Stack Developer</span>
              &nbsp;
              <span class="badge bg-secondary">Data Scientist</span>
            </h6>
            <p class="creative">I'm a creative Full-Stack Developer based in Lisbon, Portugal 🇵🇹.
              Have about 25 years of experience in developing code 👴🏻, but most of it working with C# language. 
              I love working with Angular and React too! 
              Now I'm focused on Python and Data Science, with emphasys in Story Telling, Data Visualization and Machine Learning Models.</p>
          </div>
        </div>
      </div>
    </div>
  </section>