<section id="Work" class="gradient">
    <div class="container">
      <h2>MY WORK</h2>
      <h3>Experience</h3>
      <p class="explain">I've started my career in São Paulo - Brazil 🇧🇷, and most of my experience is in that city.<br />
      Here are the most relevant jobs and projects I was intrinsically involved. 🤘</p>
      <div class="projects">
        <div class="item">
          <h4>TSS Portugal (current project since 2024)</h4>
          <p class="project">
            <em>Client: <strong>DNA Finland</strong></em><br />
            <em>Project: <strong>PCA (Product Commercial Availability)</strong></em><br />
            This project was made to improve the sales team of the company's products, including the search for new markets and the analysis of the availability in Finnish territory.<br />
            It is developed in React (FrontEnd) and C# (BackEnd), and keeps getting improvements with the top avaliations from the users.
          </p>
        </div>
        <div class="item">
          <h4>Aubay Portugal (2023 to 2024)</h4>
          <p class="project">
            <em>Client: <strong>EasyJet</strong></em><br />
            <em>Project: <strong>Flight Search</strong></em><br />
            This project was made to improve the search experience for the users of the EasyJet website, including finding multiple flights and transfers.<br/>
            It was developed in Angular (FrontEnd) and C# (BackEnd with Minimal API), and contributed to the most profitable year since the pandemic.
          </p>
        </div>
        <div class="item">
          <h4>BRQ Digital Solutions (2018 to 2022)</h4>
          <p class="project">
            <em>Client: <strong>Banco B3</strong></em><br/>
            <em>Project: <strong>Treasury Operation Manager</strong></em><br/>
            This project made more efficient all jobs regarding the daily treasury operations.
            It was developed in ASP.NET MVC (FrontEnd) and C# (BackEnd and API), and it brings to the Bank B3 about 30% less effort to deliver day-by-day tasks.<br />
            The design was enhanced too, causing a positive visual impact to all users.
          </p>
        </div>
        <div class="item">
          <h4>K2 Partnering Solutions (2017 to 2018)</h4>
          <p class="project">
            <em>Client: <strong>Phillip Morris do Brasil</strong></em><br/>
            <em>Project: <strong>Distriibution Managment System (aka Jarvis)</strong></em><br/>
            This project was to automate product distribution to large retailers, so the products can be easily traced to small retails, their customers.<br/>
            It was developed in Angular (Front End) and C# (Back End), that could connect to a SAP repository, and it generated an economy of 20% in all large retail process.
          </p>
        </div>
        <div class="item">
          <h4>SMART IT Group (2016 to 2017)</h4>
          <p class="project">
            <em>Client: <strong>CDHU (Brazilian Government Housing Company)</strong></em><br/>
            <em>Project: <strong>MiniGEM - Construction Status and Localization</strong></em><br/>
            This project was to register some constructions of houses that CDHU was in charge to build.
            It shows the position on the map (Google Maps) and, when user phisically visit the working site, he give a status update to the job.
            The register was made offline and then, when mobile network or WiFi was available, it could update a central API.<br/>
            It was made using Ionic and SQLite (App), and NodeJS with MongoDB (API). I don't have the accurate numbers, but I heard of a group of users that was about 40% less effort on keep constructions updated after a visit.
          </p>
        </div>
        <div class="item">
          <h4>PPI-Multitask (2015 to 2016)</h4>
          <p class="project">
            <em>Project: <strong>PC-Factory</strong></em><br/>
            This project made a bridge between an automated industrial machine and an Android Tablet. It runs on the Tablet but could read a lot of sensors connected by USB with the machine, and give numbers and predictions on what could, should and must be done regarding all maintenance to the machine.<br/>
            It was made using Xamarin Android (C#). The company did not provides the numbers, but this software is the flagship of the business.
          </p>
        </div>
        <div class="item">
          <h4>FCamara (2011 to 2015)</h4>
          <p class="project">
            <em>Client: <strong>Unimed FESP</strong></em><br/>
            <em>Project: <strong>Chronic Patients Management</strong></em><br/>
            This project was a legacy one. It was made to make easy to a nurse to schedule and update a call to a chronic patient. But the system grown up in size, and the code was not made to scale up.
            So my mission was to reduce the service time for a user, that was about 20 minutes, by 50%.
            Then I made a thorough analysis: on the client side, the script loads to much data, and on the server side, the queries retrieves too much data for the client to process.<br/>
            After almost 3 months of effort, I made an extreme makeover on the Javascript code, and reformulate all the SQL queries with stored procedures.<br/>
            I used pure HTML and Javascript with jQuery and Prototype frameworks, and C# to make the API. The goal is achieved: the service time dropped from 20 to 4 minutes, a gain of 80%.
          </p>
        </div>
        <div class="item">
          <h4>H2M (2010 to 2011)</h4>
          <p class="project">
            <em>Client: <strong>AASP - Associação dos Advogados de São Paulo</strong></em><br/>
            <em>Project: <strong>Official Diary Clipping System</strong></em><br/>
            This project is a product for Laywers that subscribing AASP service. They receive, daily, an email that contains all citations to their names or registry codes into any process containing in the Official Diary.
            There are lots of Official Diaries in Brazil, and they also have differents formats as well. My mission was to find a Regular Expression that could match the notice in the respectively Diary, if not all, clip this notice and send it to the Lawyer by email.<br/>
            I used C# in this entire project, and made a growing up from 32 to 68 journals in about 1 year working in this project.
          </p>
        </div>
      </div>
      <p class="link">Wanna see more? Please <a href="#" title="Download my resume">download my resume here</a>. 👉📄</p>
      <h3>Articles</h3>
      <p class="explain">
        I've been writing articles to specialized media through this years, and most of it are in Portuguese 🇧🇷.<br/>
        Promisse to deliver some translations in English 🇬🇧 🇺🇸, OK? 😁
      </p>
      <div class="articles">      
        <div class="item">
          <p>
            <a href="https://marciopmm.medium.com/how-i-designed-my-developer-portfolio-eed09264be39" target="_blank" title="How I designed my developer Portfolio">How I designed my developer Portfolio</a>
          </p>
        </div>
        <div class="item">
          <p>
            <a href="https://medium.com/@marciopmm/aperte-o-bot%C3%A3o-porque-tendemos-%C3%A0-desobedi%C3%AAncia-45dfbacaf40b" target="_blank" title="APERTE O BOTÃO - Porque tendemos à desobediência">APERTE O BOTÃO - Porque tendemos à desobediência</a>
          </p>
        </div>
        <div class="item">
          <p>
            <a href="http://www.linhadecodigo.com.br/Artigo.aspx?id=2721" target="_blank" title="Resolva seus problemas do dia-a-dia com Elevate">Resolva seus problemas do dia-a-dia com Elevate</a>
          </p>
        </div>
        <div class="item">
          <p>
            <a href="http://www.linhadecodigo.com.br/Artigo.aspx?id=2754" target="_blank" title="Conheça os Delegates Action, Predicate e Function em C#">Conheça os Delegates Action, Predicate e Function em C#</a>
          </p>
        </div>
        <div class="item">
          <p>
            <a href="http://www.linhadecodigo.com.br/artigo/3261/Strings-em-CsharpCoisas-que-nem-todos-sabem.aspx" target="_blank" title="Strings em C# - Coisas que nem todos sabem">Strings em C# - Coisas que nem todos sabem</a>
          </p>
        </div>
        <div class="item">
          <p>
            <a href="http://www.linhadecodigo.com.br/artigo/2906/Resolvendo-problemas-combinat%C3%B3rios-com-LINQ.aspx" target="_blank" title="Resolvendo problemas combinatórios com LINQ">Resolvendo problemas combinatórios com LINQ</a>
          </p>
        </div>
        <div class="item">
          <p>
            <a href="http://www.linhadecodigo.com.br/artigo/3362/expressoes-regulares-em-csharpresolvendo-problemas-de-identificacao-de-textos.aspx" target="_blank" title="Expressões Regulares em C# - Resolvendo problemas de identificação de textos">Expressões Regulares em C# - Resolvendo problemas de identificação de textos</a>
          </p>
        </div>
        <div class="item">
          <p>
            <a href="http://www.devmedia.com.br/data-annotations-para-asp-net-mvc-revista-net-magazine-99/25657#ixzz2lsSMtiNs" target="_blank" title="Data Annotations para ASP.NET MVC">Data Annotations para ASP.NET MVC (.Net Magazine 99)</a>
          </p>
        </div>
        <div class="item">
          <p>
            <a href="http://www.devmedia.com.br/-net-micro-framework-e-netduino/25547" target="_blank" title=".NET Micro Framework e Netduino">.NET Micro Framework e Netduino</a>
          </p>
        </div>
        <div class="item">
          <p>
            <a href="http://imasters.com.br/desenvolvimento/visual_studio/qualidade-no-desenvolvimento-de-software-com-visual-studio-2012-parte-01/" target="_blank" title="Qualidade no desenvolvimento de software com Visual Studio 2012">Qualidade no desenvolvimento de software com Visual Studio 2012</a>
          </p>
        </div>
      </div>
      <h3>Tutorials</h3>
      <p class="explain">
        I own an YouTube channel called "MM - Marcio Martins", where I post some tutorials, and even a complete course to develop a Web system from zero to hero.<br/>
        I've already mention that I'm owing an English content 🇺🇸 🇬🇧, haven't I? 🤷🏻‍♂️
      </p>
      <p class="explain"><a href="https://www.youtube.com/@MMMarcioMartins" title="My YouTube channel" target="_blank">https://www.youtube.com/&#64;MMMarcioMartins</a></p>
      <h3>GitHub</h3>
      <p class="explain">
        I got a repository in GitHub where it holds my personal and academic projects. 📙
      </p>
      <p class="explain"><a href="https://github.com/marciopmm" title="My GitHub page" target="_blank">https://github.com/marciopmm</a></p>
    </div>
  </section>