<section id="Skills" class="gradient">
    <div class="container">
      <h2>MY SKILLS</h2>
      <div class="skills">
        <div class="skill-items">
          <h3>HARD SKILLS<span class="parentheses">(ordered by years of experience)</span></h3>          
          <h4>Programming Languages</h4>
          <p class="items">C#, Python, TypeScript, Javascript, VB.NET, VB 6, C++, Clipper</p>
          <h4>Frameworks</h4>
          <p class="items">Angular, React, jQuery, ASP.NET MVC with Razor, ASP.NET Web Forms, ASP.NET Core, NodeJS, SailsJS, Minimal API</p>
          <h4>ORMs</h4>
          <p class="items">Dapper, Entity Framework, NHibernate</p>
          <h4>APIs</h4>
          <p class="items">Design and Implementation (Azure), Swagger (OpenAPI Standclasdards)</p>
          <h4>Mobile Devices</h4>
          <p class="items">Ionic, Xamarin</p>
          <h4>IA & Machine Learning</h4>
          <p class="items">Pandas, Matplotlib, Seaborn, SciKit Learn</p>
          <h4>Web Scrapping</h4>
          <p class="items">BeautifulSoup, Selenium, Regular Expressions</p>
          <h4>Databases</h4>
          <p class="items">SQL Server, MongoDB, MySQL, Oracle</p>
          <h4>Cloud Platforms</h4>
          <p class="items">AWS (S3, EC2, Lambda Functions), Azure (Functions, API Management, Logging, Application Insights, IAM, AD), Google Cloud (only academical)</p>
          <h4>Physical Computing</h4>
          <p class="items">Arduino, Netduino, Raspberry Pi, components and circuits to put it all together</p>
          <h4>Version Control System</h4>
          <p class="items">Git, TFS, SVN, Source Control</p>
          <h4>Containers</h4>
          <p class="items">Docker</p>
        </div>
        <div class="skill-items">
          <h3>SOFT SKILLS</h3>
          <h4>Criativity</h4>        
          <p class="items">
            Something that I believe is that all great ideas in human history is about putting together some ideas that weren't working alone, and bringing something that makes a difference in people's life.<br/>
            This is the way I think about being cretive.
          </p>
          <h4>Resilience</h4>        
          <p class="items">
            I'll take a phrase from 'Rocky Balboa' movie (2006):<br/>
            "The world ain't all sunshine and rainbows. It's a very mean and nasty place and I don't care how tough you are it will beat you to your knees and keep you there permanently if you let it. You, me, or nobody is gonna hit as hard as life. But it ain't about how hard you hit. It's about how hard you can get hit and keep moving forward."<br/>
            This is the way I think about winning.
          </p>
          <h4>Taking challenges</h4>        
          <p class="items">
            There is a brazilian saying: you are in the rain to get wet.
            If there is no commitment with the business you are working for, there is no reason to work at all.<br/>
            This is the way I think about delivering results.
          </p>
          <h4>Kindness and Good mood</h4>        
          <p class="items">
            Why not to talk about a problem not solved with a smile on the face?
            If a colleague would need help, I would treat him or her as I would like to be treated as well: with sweetness and gentle with my words and acts.<br/>
            This is the way I think of taking care of people.
          </p>
        </div>
      </div>
      <h3>CERTIFICATIONS & COURSES</h3>
      <div class="certifications">
        <div class="certlist">
          <p>Microsoft Certifications</p>
          <ul>
            <li>MCP</li>
            <li>MCAD</li>
            <li>MCSD</li>
            <li>MCPD</li>
            <li>MCTS</li>
          </ul>
          <p class="link">You can see all my Microsoft certifications <a href="https://learn.microsoft.com/en-us/users/marciomartins-0313/transcript/vn092b32oenr3jw" target="_blank" title="Microsoft Certification Transcript">here, at Microsoft Certification Transcript</a>. 👈</p>
        </div>        
        <div class="certlist">
          <p>Kaggle Courses</p>
          <ul>
            <li>Intro to Machine Learning</li>
            <li>Pandas</li>
            <li>Data Visualization</li>
            <li>Intro to Deep Learning</li>
          </ul>
        </div>
        <div class="certlist">
          <p>LinkedIn Learning Courses</p>
          <ul>
            <li>Building a Recommendation System with Python Machine Learning & AI</li>
          </ul>
        </div>
      </div>
    </div>
  </section>